*{
    margin:  0;
    padding:0;
}
body{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.viewprof{
    width:500px;
    height:1000px;
    background-color: white;
    margin-top:30px;
    border-radius:0px 0px 0px 20px;
    box-shadow: 0px 4px 30px rgba(0,0,0,0.2);
   margin-left: 50px;
    background: white;
    margin-bottom: 30px;
    
     
      
    
}
.viewprof1{
    width:500px;
    height:200px;
    background:linear-gradient(to bottom,#c90641, #6d03a2);
    box-shadow: 0px 4px 30px rgba(0,0,0,0.2);
    border-radius:20px 0px 0px 0px;
    
}
.viewprof1 img{
    align-items: center;
    height: 100px;
    width: 100px;
    margin-left: 200px;
    margin-top:20px ;
    border-radius: 50%;
}
.viewprof2{
    height: 750px;
    width: 400px;
    background-color: white;
   margin-top: -30px;
   margin-left: 50px;
   border-radius: 20px;
   box-shadow: 0px 4px 30px rgba(0,0,0,0.2);

}
.viewprof1 h3{
    margin-left: 160px;
    color: white;

}
.viewprof2 h2{
        color:#c90641;
        margin-left: 120px;
        padding-top: 10px;
}
.viewprof2 p{
        margin-top:30px;
        margin-left: 40px;
        font-size: 18px;
        color: rgb(90, 17, 90)
}
.username-box{
    padding: 15px 25px;
    border-radius: 12px;
    font-size: 18px;
    background:#c57990; 
    width: 240px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    color:black;
    border: 1px solid rgba(255,255,255,0.3);
    height: 20px;
    margin-left: 30px;
    margin-top: 10px;
}
.submit{
    height: 40px;
    width:160px;
    background-color: #c90641;
    margin-top: 20px;
    margin-left:110px;
    border-radius: 20px;
    font-size: 17px;
    border-color: #c90641;
    border-style: solid;
    border-width: 1px;
    color:white;
    cursor: pointer;
}
.submit:hover{
    background-color:#9f3d5b; 
    border-color: #9f3d5b;
    border-style: solid;
    border-width: 1px;
}
.logoutanh{
    color:#e4084a;
    text-decoration:none;
}
.logoutanh:hover{
    color:#9f3d5b;
}
.imgdiv{
    height:1000px;
    width:950px;
    background-image: url('sprobg8.jpg');
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 30px rgba(0,0,0,0.2);
    background-size: cover;
    background-position: center;
   border-radius: 0px 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;


    
}
.maindiv{
  display: flex;
}

@keyframes slideInLeft {
    from{
        transform: translateX(-100%);
        opacity:0;
    }
    to{
        transform: translateX(0);
        opacity:1;
    }
  }

  .home-button {
    margin-top: 920px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #19e616;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    
    
  }

  .home-button:hover {
    background-color: #a9dda7;
  }
  .profile{
    color: #fff;
      padding: 12px 24px;
      border-radius: 8px;
      font-size: 25px;
      font-weight: bold;
      animation: slideInLeft 1.5s ease-out forwards;
      transform: translate(-50%, -50%);
      margin-top: -750px;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 100px;

  }